<div class="flex flex-col flex-grow">
    <app-topbar>
        <app-topbar-left>
            <app-search-form></app-search-form>
        </app-topbar-left>
        <app-topbar-right>
            <app-cart-button></app-cart-button>
            <app-account-manage></app-account-manage>
        </app-topbar-right>
    </app-topbar>
    <app-header></app-header>
    <app-header-nav>
        <ol class="flex flex-row space-x-2 items-center pl-8 h-16">
            <li>
                <a class="breadcrumb-link" [routerLink]="['/carrello']">
                    Carrello
                </a>
            </li>
            <li>::</li>
            <li>
                <a class="breadcrumb-link" [routerLink]="['/checkout/tipologiaConsegna']">
                    1
                </a>
            </li>
            <li>::</li>
            <li>2. Informazioni consegna</li>
        </ol>
    </app-header-nav>
    <div class="flex flex-col p-8 flex-grow">
        <div class="flex flex-col flex-grow space-y-4">
            <div class="w-full md:w-1/3">
                <a [routerLink]="['/checkout/tipologiaConsegna']">
                    <h5 class="font-semibold text-lg border-b-slate-300 border-b-2 pb-2">1. Consegna ordine</h5>
                </a>
            </div>
            <div class="w-full md:w-1/3">
                <form class="flex flex-col m-0 space-y-4" (submit)="onSubmit(form.value)">
                    <h5 class="font-semibold text-lg border-b-slate-300 border-b-2 pb-2">2. Indirizzo e orario</h5>
                    <p>Inserisci le informazioni di consegna</p>
                    <div class="flex flex-col space-y-2">
                        <label class="form-label">Indirizzo</label>
                        <input type="text" autocomplete="address-line1" [formControl]="indirizzoControl"
                            [appTextInput]="indirizzoControl" />
                        <div class="invalid-feedback" *appFieldErrors="indirizzoControl">
                            <span *ngIf="indirizzoControl.hasError('required')">
                                Il campo indirizzo è obbligatorio
                            </span>
                        </div>
                    </div>
                    <div class="flex flex-col space-y-2">
                        <label class="form-label">Orario</label>
                        <input type="text" [formControl]="orarioControl" [appTextInput]="orarioControl" />
                        <div class="invalid-feedback" *appFieldErrors="orarioControl">
                            <span *ngIf="orarioControl.hasError('required')">
                                Il campo orario è obbligatorio
                            </span>
                        </div>
                    </div>
                    <div class="w-full">
                        <button type="submit" [disabled]="!form.valid" class="btn-secondary-outlined">Vai</button>
                    </div>
                </form>
            </div>
            <div class="w-full md:w-1/3">
                <h5 class="font-semibold text-lg border-b-slate-300 border-b-2 pb-2">3. Riepilogo</h5>
            </div>
        </div>
    </div>
</div>
