<div class="flex flex-col flex-grow">
    <app-topbar>
        <app-topbar-left>
            <app-search-form></app-search-form>
        </app-topbar-left>
        <app-topbar-right>
            <app-cart-button></app-cart-button>
            <app-account-manage></app-account-manage>
        </app-topbar-right>
    </app-topbar>
    <app-header></app-header>
    <app-header-nav>
        <app-category-pills></app-category-pills>
    </app-header-nav>


    <div class="p-8">
        <app-carrello-content *ngIf="cartHasItems; else noItems"></app-carrello-content>

        <ng-template #noItems>
            <p>Non ci sono elementi nel carrello</p>
        </ng-template>
    </div>
</div>
