<div class="flex flex-col flex-grow">
    <app-topbar>
        <app-topbar-left>
            <app-search-form></app-search-form>
        </app-topbar-left>
        <app-topbar-right>
            <app-cart-button></app-cart-button>
            <app-account-manage></app-account-manage>
        </app-topbar-right>
    </app-topbar>
    <app-header></app-header>
    <app-category-pills></app-category-pills>
    <div class="flex flex-col flex-grow items-center justify-center content-center">
        <div class="flex flex-col justify-center content-center items-center">
            <p class="font-bold text-3xl">404</p>
            <p>Pagina non trovata</p>
        </div>
    </div>
</div>
